.gradle
Lab-1/build/

# Ignore Gradle GUI config
Lab-1/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
Lab-1/!gradle-wrapper.jar

# Cache of project
Lab-1/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
